@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');
:root{
    --dark-blue: rgb(10, 20, 42);
    --dark-purple:rgb(75, 82, 126);
    --light-purple:rgb(124, 129, 173);
    --light-blue:rgb(142, 172, 205);
    --watery-blue:rgb(210, 224, 251);
    --watery-purple:rgb(140, 146, 187);
    --light-green:rgb(215, 229, 202);
    --dark-yellow:rgb(229, 195, 166);
    --light-yellow:rgb(249, 243, 204);
    --watery-yellow:rgb(249, 246, 226);

    --font:'Young Serif', serif;
}


*{
    color: var(--dark-blue);
   
}

body,html{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, var(--watery-blue), var(--watery-purple), var(--dark-yellow));
    margin: 0;
    font-family: var(--font);

}

.card {
    border-radius: 15px;
    background: transparent;
    box-shadow: -15px -15px 30px var(--light-purple), 
                15px 15px 30px var(--light-blue) ; 
  }

.flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 15px;
}
.flex-bottom{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 15px;
}


.flex-center-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 15px;

}
.timer-box{
    width: 25vw;
    height: 500px;
    margin-right: 3vw;
}

.todoList-box{
    width: 57vw;
    min-height: 500px;
    height: max-content;
}






  
button {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }


button:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.4s;
}
  
  
 
  
  